        <style type="text/css">
            table {border:1px solid #dddddd; border-collapse: collapse; width:99%; margin:auto;}
            td {border:1px solid #dddddd;}
            #consignee_addr {width:450px;}
        </style>

        <div class="block box">
            <div class="blank"></div>
            <div id="ur_here">
                当前位置: <a href="#">首页</a> <code>&gt;</code> 购物流程 
            </div>
        </div>
        <div class="blank"></div>

        <div class="blank"></div>
        <div class="block">
            <div class="flowBox">
                <h6><span>商品列表</span></h6>
                <form id="cart_form" method="post">
                    <input type="text" name="cart_goods" value='{$cart_goods}'>
                    <table cellpadding="5" cellspacing="1">
                        <tbody><tr>
                                <th>商品名称</th>
                                <th>属性</th>
                                <th>市场价</th>
                                <th>本店价</th>
                                <th>库存</th>
                                <th>购买数量</th>
                                <th>小计</th>
                                <th>操作</th>
                            </tr>
                            <foreach name="cartDatas" item="c">
                            <tr>
                                <td align="center">
                                    <a href="#" target="_blank"><img style="width: 80px; height: 80px;" src="__UPLOAD__{$c.goods_pic}" title="{$c.goods_name}" /></a><br />
                                    <a href="#" target="_blank" class="f6">{$c.goods_name}</a>
                                    <input type="hidden" name="goods_id[]" value="{$c.goods_id}">
                                </td>
                                <td>
                                    <foreach name="c['goods_attr']" key="key" item="cc">
                                    {$key}:{$cc} <br />
                                    </foreach>
                                </td>
                                <td align="right">￥{$c.goods_mprice}元</td>
                                <td align="right">￥<span class="price">{$c.goods_price}</span>元</td>
                                <td align="right"><span class="goods_count">{$c.goods_count}</span></td>
                                <td align="right">
                                    <a href="javascript:void(0);" data-id="{$c.goods_id}" class="cart_minus">[-]</a>
                                    <input name="goods_number[43]" id="goods_number_43" value="{$c.cart_count}" size="4" class="inputBg" style="text-align: center;" type="text" />
                                    <a href="javascript:void(0);" data-id="{$c.goods_id}" class="cart_plus">[+]</a>
                                </td>
                                <td align="right">￥<span class="subtotal">{$c['goods_price'] * $c['cart_count']}</span>元</td>
                                <td align="center">
                                    <a href="javascript:void(0);" data-id="{$c.goods_id}" class="cart_del">删除</a>
                                </td>
                            </tr>
                            </foreach>
                        </tbody></table>

                    <script type="text/javascript" src="__COMMON__jquery-1.8.2.min.js"></script>
                    <script>
                        $(function () {
                            //删除购物车商品
                            $('.cart_del').click(function () {
                                var goods_id = $(this).attr('data-id');
                                var _this = $(this);
                                // alert(goods_id);
                                $.post('{:U("del")}', {'goods_id': goods_id}, function (data) {
                                    if (data.status == 1) {
                                        _this.parents('tr').remove();
                                        alert(data.msg);
                                    } else {
                                        alert(data.msg);
                                    }
                                }, 'json');

                                // $(this).parents('tr').remove();
                            });

                            //减少商品数量
                            $('.cart_minus').click(function () {
                                var inputbox = $(this).next();
                                var count = inputbox.val();
                                // alert(count);
                                if (count > 1) {
                                    count--;
                                }
                                inputbox.val(count);

                                //单价
                                var price = parseFloat($(this).parents('tr').find('.price').text());
                                //小计
                                var subtotal = price * count;
                                $(this).parents('tr').find('.subtotal').text(subtotal);

                                //总价
                                getTotalPrice();

                                //发送ajax请求，修改数据库
                                var goods_id = $(this).attr('data-id');
                                var data = {
                                    'goods_id': goods_id,
                                    'cart_count': count
                                }
                                $.post('__CONTROLLER__/edit', data, function (data) {}, 'json');
                            });

                            //增加商品数量
                            $('.cart_plus').click(function () {
                                var inputbox = $(this).prev();
                                //购物车数量
                                var count = parseInt(inputbox.val());
                                //商品库存
                                var goods_count = parseInt($(this).parents('tr').find('.goods_count').text());
                                // console.log(goods_count);
                                if (count < goods_count) {
                                    count++;
                                }
                                inputbox.val(count);

                                //单价
                                var price = parseFloat($(this).parents('tr').find('.price').text());
                                // alert(price);
                                //小计
                                var subtotal = price * count;
                                $(this).parents('tr').find('.subtotal').text(subtotal);

                                //总价
                                getTotalPrice();

                                //发送ajax请求，修改数据库
                                var goods_id = $(this).attr('data-id');
                                var data = {
                                    'goods_id': goods_id,
                                    'cart_count': count
                                }
                                $.post('__CONTROLLER__/edit', data, function (data) {}, 'json');
                            });
                        });
                    </script>
                    <table cellpadding="5" cellspacing="1">
                        <tbody><tr>
                                <td>
                                    购物金额总计 ￥ <span id="totalPrice" style="color: orange; font-weight: bold; font-size: 20px;">{$totalP}</span> 元              </td>
                                <script>
                                    function getTotalPrice() {
                                        var totalP = 0;
                                        $('.subtotal').each(function () {
                                            totalP += parseFloat($(this).text());
                                        });
                                        totalP = totalP.toFixed(2);
                                        $('#totalPrice').text(totalP);
                                    }
                                </script>
                                <td align="right">
                                    <input value="清空购物车" id="delAll" class="bnt_blue_1"  type="button" />
                                    <script>
                                        $(function () {
                                            $('#delAll').click(function () {
                                                $.post('{:U("cart/delAll")}', '', function (data) {
                                                    // console.log(data);
                                                    if (data.status == 1) {
                                                        $('.cart_del').parents('tr').remove();
                                                        $('#totalPrice').text(0);
                                                    }
                                                }, 'json')
                                            });
                                        });
                                    </script>
                                    <!-- <input name="submit" class="bnt_blue_1" value="更新购物车" type="button" /> -->
                                </td>
                            </tr>
                        </tbody></table>
                    <input name="step" value="update_cart" type="hidden" />
                </form>
                <table cellpadding="5" cellspacing="0" width="99%">
                    <tbody><tr>
                            <td><a href="{:U('index/index')}"><img src="__HOME__images/continue.gif" alt="continue" /></a></td>
                            <td align="right"><a id="checkout" href="javascript:void(0);"><img src="__HOME__images/checkout.gif" alt="checkout" /></a></td>
                        </tr>
                        <script src="__HOME__layer/layer.js"></script>
                        <script>
                            $(function () {
                                //购买操作
                                $('#checkout').click(function () {

                                    <if condition="session('?uid')">
                                        $('#cart_form').attr('action', '{:U("order/show")}');
                                        $('#cart_form').submit();
                                    <else />
                                        layer.open({
                                            type: 1,
                                            skin: 'layui-layer-rim', //加上边框
                                            title: '登录窗口',
                                            fix: false,
                                            maxmin: false,
                                            shadeClose: true,
                                            area: ['400px', '250px'],
                                            content: '<form action="" method="post" id="login_form"><table align="left" border="0" cellpadding="3" cellspacing="5" width="100%"><tbody><tr><td align="right" width="15%">用户名</td><td width="85%"><input name="user_name" size="25" class="inputBg" type="text"></td></tr><tr><td align="right">密码</td><td><input name="user_pwd" size="15" class="inputBg" type="password"></td></tr><tr><td colspan="2"></td></tr><tr><td>&nbsp;</td><td align="left"><input  value="" onclick="login_submit()" class="us_Submit" type="button" /></td></tr><tr><td></td><td><a href="#" class="f3">注册邮件找回密码</a></td></tr></tbody></table></form>',
                                            end: function(){
                                              layer.tips('Hi', '#about', {tips: 1})
                                            }
                                        });
                                    </if>
                                });
                            });

                            function login_submit() {
                                var user_name = $('input[name=user_name]').val();
                                var user_pwd = $('input[name=user_pwd]').val();

                                $.post('{:U("login/login")}', {'user_name': user_name, 'user_pwd': user_pwd}, function (data) {
                                    if (data.status == 1) {
                                        $('#cart_form').attr('action', '{:U("order/show")}');
                                        $('#cart_form').submit();
                                    } else {
                                        layer.msg(data.info);
                                    }
                                }, 'json');
                            }
                        </script>
                    </tbody></table>
            </div>
            <div class="blank"></div>
            <div class="blank5"></div>
        </div>

        