

        <div class="block box">
            <div class="blank"></div>
            <div id="ur_here">
                当前位置: <a href="#">首页</a> <code>&gt;</code> 购物流程 
            </div>
        </div>

        <div class="blank"></div>
        <div class="blank"></div>

        <div class="block">
            <div class="flowBox" style="margin: 0pt auto 70px;">
                <h6 style="text-align: center; height: 30px; line-height: 30px;">感谢您在本店购物！您的订单已提交成功，请记住您的订单号: <font style="color: red;">{$order_data.order_number}</font></h6>
                <table style="border: 1px solid rgb(221, 221, 221); margin: 20px auto;" align="center" bgcolor="#ffffff" border="0" cellpadding="15" cellspacing="0" width="99%">
                    <tbody><tr>
                            <td align="center" bgcolor="#ffffff">
                                您选定的配送方式为: <strong>{$order_data.order_send|getSendType}</strong>，您选定的支付方式为: <strong>{$order_data.order_pay_type|getPayType}</strong>。您的应付款金额为: <strong>￥{$order_data.order_price}元</strong>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#ffffff"><a href="{:U('paynow', 'oid='.$order_data['id'])}">立即支付</a></td>
                        </tr>
                    </tbody></table>
                <p style="text-align: center; margin-bottom: 20px;">您可以 <a href="#">返回首页</a> 或去 <a href="{:U('ucenter/center')}">用户中心</a></p>
            </div>
        </div>

        